@import url(./normalize.css);

body {
  background: rgb(39, 39, 39);
  display: flex;
  flex-direction: column;
}

.page {
  margin: 0 auto;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: normal;
  color: #FFFFFF;
}

.header{
  margin: 0 71px;
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
}

.header__menu{
  display: flex;
  list-style: none;
}

li{
  margin: 0 64px;
}
